.XRay-Container{

display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: flex-start;
align-items: flex-start;
justify-content: space-around;

 position: absolute;
 top:7rem ;

}
.xrayImg{

 height: 70vh;
object-fit: cover;


}
.Img{
width: 100%;
height: 100%;
object-fit: cover;

}
.formContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: center;

z-index:3;
box-shadow: 0 8px 16px black;
margin-top: 1rem;
margin-bottom: 1rem;
border-radius: 1.5rem;


}
.form-control-Xray{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    border-radius: 1.5rem;


}

label{

   
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.btn-next-Xray{

    background-color:blueviolet;
    margin-top: 1rem;
    width: 130px;
    color: black;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.btn-Submit-Xray{

    background-color:rgb(70, 43, 226);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 130px;
    color: black;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    padding: 0.5rem;
}
.btn-Submit-Xray:hover{

    background-color: green;
}
.btn-next-Xray:hover{

    background-color: rgb(24, 62, 165);
}
.MyXray{

    color: white;
}


    
.MyXray-File{

color: red;
width:100%;
background-color: transparent;
}
.MyComment-Input{

    border-radius: 1rem;
    background-color: white;
    outline: none;

   font-size: 1rem;
   width:50%;
   padding: 1rem;

   font-weight: 500;


   
}
