.SignPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  height: 80vh;
  border: solid 4px #0b4b62;
  border-radius: 2rem;
}

#Sign-up {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;


  img {
    height: 80%;
    width: 80%;
  }
}

.formSignUp {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0b4b62;
  padding: 1rem;
  border: solid 4px #0b4b62;
  border-radius: 0 1.6rem 1.6rem 0;

  h2 {
    margin: 0;
    color: white;
  }

}

.formSignUp .Inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.INPO {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
  color: white;
}

.INPO .lab {
  font-weight: 600;
  /* margin-top: 1rem; */
  color: white;
  font-size: 15px;
  margin-left: .75rem;
  margin-bottom: .15rem;
  text-transform: capitalize;
}

.formSignUp .Inputs .INPO .input3 {
  height: 3rem;
  border: solid 2px white;
  border-radius: 1rem;
  color: #0b4b62;
  width: 100%;


}

.formSignUp .btn {
  height: 3rem;
  border: solid 2px white;
  color: #0b4b62;
  width: 75%;
  background-color: white;
  margin-top: 1rem;
}

.log-submit {

  background-color: rgb(142, 183, 245);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 10rem;
  padding: 0.5rem;
  border-color: transparent;
  color: white;
}

.logo {
  background-image: url("../../assets/besafe.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  height: 35%;


}