.Medicine-Container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    
    }
    .MedicineImg{
    
     height: 70vh;
 
    
    
    }
    .Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    }
   
    .form-control-Medicine{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        
        border-radius: 1.5rem;
        background-color: white;
        border: solid 4px  #0B4B62;
     gap: 1.2rem;
        z-index:3;
    box-shadow: 0 8px 16px black;
        
    }
    
    label{
    
       
        font-weight: 700;
        margin-top: 1rem;
        color: white;
       
    }
    .btn-Upload-Medicine{
    
        background-color:blueviolet;
        margin-top: 1rem;
        width: 130px;
        color: black;
        font-weight: 500;
        color: white;
    }
    .MyMedicine{
    
        color: white;
    }
    

    .MyMedicine-File{

        color: red;
        width:100%;
        background-color: transparent;
        }
        .MyComment-Input{
        
            border-radius: 1rem;
            background-color: white;
            outline: none;
        
           font-size: 1rem;
           width:100%;
           padding: 1rem;
        
           font-weight: 500;
        
        
        }        
   .Select-medicine{


    
    border-color: transparent;
    outline: none;
  
   }
   .Select-medicine-unit{

   

    border-color: transparent;
    outline: none;
    
   }
   .MyMedicineForce{

    font-size: 1rem;
    color: white;
    

   }
   .MyMedicineFrequncey{

    color: white;
   }
 input{
    border-radius: 2rem;
    width: 90%;
    background-color: gainsboro;
    padding: 1rem;


 
 }
select{

    border-radius: 2rem;
    padding: 1rem;
    border-color: transparent;
    outline: none;
    border-radius: 2rem;
    width: 90%;
    background-color: gainsboro;
  
    
 
  
}
.SelectedOne{
 
    background-image:linear-gradient(169deg, #08384a, #0B4B62, #3a717d);
  border-color: transparent;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 9rem;
  
  
  }
  .SelectedTwo{
    background-image:linear-gradient(169deg, #08384a, #0B4B62, #3a717d);
      border-color: transparent;
      color: white;
      border-radius: 1rem;
      padding: 0.5rem;
      width: 9rem;
  
  
  
  
  }
  .BTNA{
   
      background-color: white;
      border-color: 2px solid  #3a717d;
  color: black;
  font-weight: 500;
  border-radius: 1rem;
  
  width: 9rem !important;
  padding: 0.5rem !important;
   
  
  
      
      }
      .BTND{
   
          background-color: white;
  
          border-color: 2px solid  #3a717d;
      color: black;
      font-weight: 500;
      border-radius: 1rem;
    
  width: 9rem !important;
  padding: 0.5rem !important;
  
          
          
          }
   
          .in{

width: 90%;
padding: 1rem;
          }
.next-button{

    
   
    background-color: #0B4B62;
    margin-top: 1rem;
   
    color: white;
    font-weight: 500;
    
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 30%;
}
.button-container{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  


   
}
.previous-button{

   
    
    background-color: gainsboro;
    
   
    color: red !important;
    font-weight: 500;
    
    border-radius: 10px;
    border-color: transparent;
 
    padding: 0.5rem;
    width: 30%;


}
.next-button:hover{

    box-shadow: 0 8px 16px black;
    background-color: white !important;
    color:#0B4B62 ;
}
.previous-button:hover{
    box-shadow: 0 8px 16px black;
    background-color: white !important;
    

}
.submit-button{

    width: 30%;
}
.submit-button:hover{


    box-shadow: 0 8px 16px black;
    background-color: white !important;
    color: black;
}